@keyframes jump {
    0% {
      top: 200px;
    }
  
    50% {
      top: 30px;
    }
    
    100% {
      top: 220px;
    }
  }
  
  .jump-animation {
    animation: jump 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  
  @keyframes blink {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    81% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
  }
  
  .blink-animation {
    animation: blink 1s infinite ease-in-out;
  }